header {
    display: flex;
    background-color: orangered;
    text-align: center;
    position:fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    align-items: center;    
}
nav{margin-right:50px;}
header * {display: inline}
header li{margin: 20px}
nav a{
    text-decoration-line: none;
    font-weight: bolder;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover{font-size: 18px;}
div{
    padding: 40px;
    margin: 20px;
}
body{
    /* margin-top: 200px; */
    height: 75vh;
    background-color: black;
    color:white;
}

footer{
    height: 80px;
    background-color: white;
   display: flex;
   align-items: center;
    overflow:visible;
}
footer *{
    display: inline;
}
footer img{
    height: 50px;
    width: 50px;
    margin: 30px;
}
#kaggle img{
    height: 60px;
    width: 130px;
}
#zindi img{
    height: 40px;
    width:100px;
    align-items: center;
}
#twitter a:hover{
background-image: '../pictures/logo/twitter.png '
}
#home, #projects, #contacts, #about{
    height:80vh;
    padding: 100px;

}
#about{
    background-image:url("../images/background/about.jpg ");
    background-repeat:no-repeat;
    background-position: left middle;   
}
#projects{
    background-image:url("../images/background/project.jpg ");
    background-repeat: no-repeat;
    background-position: left bottom;   
}
#pic{
    height: 100%;
    width: 50%; 
    float:left; 
    margin-left: 0;
}
#name{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;  
    width:400px;
    overflow:visible;
    margin-left: 650px;
    margin-bottom: 0px;
    text-align: center;
}
#bio{
    width:600px;
    margin-left: 550px;
    text-align: center;
    color:gray;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#proj{
    margin-top: 30px;
    background-color: rgb(194, 190, 190);
    width: 45vw;
    height: 60vh;
    position:relative;
    left: 12.5vw;
    /* float: left; */
}
#left{
    position: absolute;
    left:50px;
    top:60vh;
    /* float: left; */
}
#right{
    position: absolute;
    right: 50px;
    top:60vh;
    /* float: right; */
}
#proj_topic{
    margin: 5px;
    color: black;
    font-size: 20px;
    font-weight:bolder;
}
#proj_text{
    height: 150px;
}
#proj_img{
    width: 100%;
    height: 40%;
}
#csc, #ds{
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    color:yellow;
}
#tolulope{color:yellow;
font-size: 25px;}
#next{
    opacity: 0.2;
}
#next:hover{
    opacity: 0.4;
}
#proj_github{
margin-top: 100px;
}
.current{
    border-bottom: 3px solid white;
    padding: 8px;
}
